.report-form{
    text-align: left;
}
.report-form .form-control{
    padding: 30px 20px;
}
.report-container{
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px 30px;
    border: 1px solid #123C6C;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 30px 4px rgba(18, 60, 108, .76);
}
.report-head{
    color: #123c6c;
}